.about-title {
    font-style: normal;
    font-weight: 600;
    font-size: 86px;
    line-height: 108px;
    color: #000000;

    width: 100%;
    text-align: center;
    margin: 0;
    padding-top: 60px;
}

.about-subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 41px;
    line-height: 51px;
    color: #494848;

    width: 100%;
    text-align: center;
    margin: 0;
}

.about-dream {
    font-style: normal;
    font-weight: 600;
    font-size: 41px;
    line-height: 51px;

    background: radial-gradient(50% 50% at 50% 50%, #25A8E0 20.31%, #1C87B5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.about-description {
    background: #59B4E8;
    border-radius: 110px;
    width: 1000px; 
    height: 487px;
    margin: auto;
    margin-top: 52px;
    position: relative;
}

.about-description-text {
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 56px;

    color: #FFFFFF;
    position: absolute;
    left: 62px;
    top: 72px;
}

.about-arrow {
   position: absolute; 
   top: -40px;
   left: -60px;
   z-index: 10;
}

.about-mascot-1 {
    position: absolute;
    bottom: 60px;
    left: -60px;
    z-index: 10;
}

.about-mascot-2 {
    position: absolute;
    top: -40px;
    right: -20px;
    transform: scalex(-1) rotate(-15deg);
    z-index: 10;
}

.about-did-you-know {
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 53px;
    color: #000000;
    
    margin: 44px auto 20px 155px;
}

.about-did-you-know-1 {
    background: #59B4E8;
    border-radius: 103px;

    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;
    text-align: center;
    padding: 10px 0;
    margin: 0 155px 36px;

    color: #FCFAF6;
}

.about-did-you-know-2 {
    background: #F1C718;
    border-radius: 103px;

    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;
    text-align: center;
    padding: 10px 0;
    margin: 0 155px 36px;

    color: #FCFAF6;
}

.about-did-you-know-3 {
    background: #89B12C;
    border-radius: 103px;

    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;
    text-align: center;
    padding: 10px 0;
    margin: 0 155px 36px;

    color: #FCFAF6;
}

.about-meet-the-team {
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 59px;
    text-align: center;

    color: #000000;
}

.about-profile .about-profile-img{
    width: 180px;
    height: 254px;
}

.about-profile {
    position: relative;
}

.about-profile-img {
    z-index: -1;
    border-radius: 20px;
}

.about-profile-description {
    position: absolute;
    opacity: 0.9;
    width: 180px;
    height: 70px;
    bottom: 0;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin: auto;
    border-radius: 0 0 20px 20px;
}

.about-profiles {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-profiles > .about-profile {
    margin-left: 35px;
    margin-right: 35px;
}