body {
    padding: 0;
    margin: 0;
    font-family: 'Mulish', sans-serif;
}

.footer-fb {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

